@font-face { font-family: Fontello; src: url(/static/fontello.ttf); }

table { border-collapse: collapse; }
tr:hover { background-color: #ffe; }
td { border: 1px solid #eee; padding: 2px 5px; }

#filelist tr :nth-child(2) { width: 30em; }
#filelist tr :nth-child(3) { width: 11em; text-align: right; }
#filelist tr :nth-child(4) { width: 5em; text-align: right; }
#filelist tr :nth-child(5) { width: 5em; text-align: center; }
#pidlist td:nth-child(1) { width: 4em; text-align: right; }
#pidlist td:nth-child(2) { width: 20em; max-width: 20em; overflow: hidden; }
#pidlist td:nth-child(3) { width: 3em; text-align: center; }

.command { font-family: Fontello; text-decoration: none; }
a.needs-confirm { color: #900; }

.regex-input { width: 75%; }
input[type=number] { width: 3em; text-align: right; }

textarea[name=log-filters] { width: 90%; }

.live-animation { color: #f00; animation: live-animation 5s linear infinite; }
@keyframes live-animation { 10% { color: #803; } 100% { color: #803; }}